.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  width     : 100%;
  margin-top: 16px;
}

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled=false] {
  background-color: white !important;
}
