<div class="col-12 container-router mb-3" style="background-color: #f5f5f5">
  <div class="row no-gutters">
    <div class="col-2 d-flex align-items-center justify-content-center">
      <a style="color:  black; " routerLink="/ordens">
        <mat-icon>arrow_back</mat-icon>
      </a>
    </div>
    <div class="col d-flex align-items-center">
      <h2 class="m-0"><b class="p-0">Nova ordem de produção</b></h2>
    </div>
  </div>

  <div class="row no-gutters">
    <mat-stepper [linear]="false" #stepper>

      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <h4 class="p-0"><b>Dados do solicitante</b></h4>
          <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="CPF" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nome do Cliente</mat-label>
            <input matInput placeholder="Nome do Cliente" formControlName="firstCtrl" required>
          </mat-form-field>

          <h4 class="p-0"><b>Contato</b></h4>
          <mat-form-field appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="CPF" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Nome do Cliente">
          </mat-form-field>

          <h4 class="p-0"><b>Endereço</b></h4>
          <mat-form-field appearance="fill">
            <mat-label>Logradouro</mat-label>
            <input matInput placeholder="Logradouro">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Bairro">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput placeholder="Número">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Cidade">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="Complemento">
          </mat-form-field>

          <div class="d-flex justify-content-end">
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>

    </mat-stepper>
  </div>

</div>
